# Data Cleaning & Feature Engineering

In [1]:
import pandas as pd

In [28]:
df = pd.read_csv('../data/eda.csv')

In [29]:
df['Date'] = pd.to_datetime(df['Date'])

## Handle Missing Values

In [30]:
df.isnull().sum().sort_values(ascending=False)

FOO12m%Change             87610
Cash12m%Change            87610
Mortgage12m%Change        87610
FTB12m%Change             87214
MortgageShare             83771
CashShare                 83715
Cash1m%Change             83320
Mortgage1m%Change         83320
FOO1m%Change              83320
FTB1m%Change              82924
New12m%Change             11714
Old12m%Change             11632
Detached12m%Change        11181
SemiDetached12m%Change    11181
Terraced12m%Change        11154
Flat12m%Change            10844
NewShare                   9066
New1m%Change               7437
Old1m%Change               7355
OldShare                   6976
Detached1m%Change          6915
SemiDetached1m%Change      6915
Terraced1m%Change          6888
Flat1m%Change              6567
SemiDetachedPrice          6525
DetachedPrice              6525
TerracedPrice              6498
FlatPrice                  6176
12m%Change                 4812
SalesVolume                4467
1m%Change                   424
Date                          0
AveragePrice                  0
AreaCode                      0
RegionName                    0
Index                         0
dtype: int64

### Interpolate missing numerical data

In [31]:
df[['1m%Change', '12m%Change', 'SalesVolume']] = df[['1m%Change', '12m%Change', 'SalesVolume']].interpolate(method='linear')

## Target Encoding

Encode each region with the average target value (```AveragePrice```).

In [32]:
region_avg_price = df.groupby('RegionName')['AveragePrice'].mean()
df['RegionEncoded'] = df['RegionName'].map(region_avg_price)

### New Features

In [33]:
df = df.sort_values(by=['RegionName', 'Date'])
df['PriceChange'] = df.groupby('RegionName')['AveragePrice'].pct_change()

In [34]:
df['DetachedToAvgRatio'] = df['DetachedPrice'] / df['AveragePrice']
df['SemiDetachedToAvgRatio'] = df['SemiDetachedPrice'] / df['AveragePrice']
df['TerracedToAvgRatio'] = df['TerracedPrice'] / df['AveragePrice']
df['FlatToAvgRatio'] = df['FlatPrice'] / df['AveragePrice']

In [35]:
df.to_csv('../data/processed.csv', index=False)